<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-Page</title>
</head>
<body>
    <h1>My first EJS Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit laudantium nihil inventore optio eum! Culpa nemo, optio explicabo, dignissimos voluptatibus laboriosam vel harum molestias porro sint ratione modi in provident.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi dicta tenetur nobis explicabo consectetur impedit nemo hic officiis, dolore eveniet in beatae culpa voluptatibus placeat qui optio delectus eos. Cum!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae fugit beatae aut commodi at dolorem molestias nihil debitis necessitatibus ab praesentium voluptatem reiciendis consequatur numquam magnam, quaerat doloremque maiores sed.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit laudantium nihil inventore optio eum! Culpa nemo, optio explicabo, dignissimos voluptatibus laboriosam vel harum molestias porro sint ratione modi in provident.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi dicta tenetur nobis explicabo consectetur impedit nemo hic officiis, dolore eveniet in beatae culpa voluptatibus placeat qui optio delectus eos. Cum!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae fugit beatae aut commodi at dolorem molestias nihil debitis necessitatibus ab praesentium voluptatem reiciendis consequatur numquam magnam, quaerat doloremque maiores sed.
    </p>
</body>
</html>