<!-- ------------------------------------------------------------------- -->
            <%- include('partials/header')%>
<!-- ------------------------------------------------------------------- -->           

    <!-- main content -->

    <h1 style="color: Red;">Error 404!!!!</h1>
    <h1>Page not found!!!!</h1>
    <hr>
    <h2>Please, Provide a valid url path...........</h2>
    <a href="./">Back to home</a>
    
    
<!-- ------------------------------------------------------------------- -->
    <%- include('partials/footer.ejs') %>
<!-- ------------------------------------------------------------------- -->